# Project exclude paths
/mall4cloud-api/mall4cloud-api-auth/target/
/mall4cloud-api/mall4cloud-api-leaf/target/
/mall4cloud-api/mall4cloud-api-multishop/target/
/mall4cloud-api/mall4cloud-api-order/target/
/mall4cloud-api/mall4cloud-api-platform/target/
/mall4cloud-api/mall4cloud-api-product/target/
/mall4cloud-api/mall4cloud-api-rbac/target/
/mall4cloud-api/mall4cloud-api-search/target/
/mall4cloud-api/mall4cloud-api-user/target/
/mall4cloud-auth/target/
/mall4cloud-biz/target/
/mall4cloud-common/mall4cloud-common-cache/target/
/mall4cloud-common/mall4cloud-common-core/target/
/mall4cloud-common/mall4cloud-common-database/target/
/mall4cloud-common/mall4cloud-common-order/target/
/mall4cloud-common/mall4cloud-common-rocketmq/target/
/mall4cloud-common/mall4cloud-common-security/target/
/mall4cloud-gateway/target/
/mall4cloud-leaf/target/
/mall4cloud-multishop/target/
/mall4cloud-order/target/
/mall4cloud-payment/target/
/mall4cloud-platform/target/
/mall4cloud-product/target/
/mall4cloud-rbac/target/
/mall4cloud-search/target/
/mall4cloud-user/target/